---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";


const pageTitle: string = `dahua | ${SITE.title + " - " + "Custom Fabrication & Surveillance Solution Provider In Dubai, United Arab Emirates"}`;




// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  benefits?: Array<string>;
}

const abtitle: string = "dahua";
const absubTitle: string ="Discover Lovosis, Dubai's authorized supplier of top-quality Surveillance & IT Solution."

---

<style>
  .autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view();
  }
  @keyframes autoRotateAnimation{
      from{
          transform: rotate(0deg);
      }
      to{
          transform: rotate(360deg);
      }
  }  

  .autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

    }

    @keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    }

    .fadeInRight {
    animation: fadeInRightAnimation;
    animation-timeline: view();
    }

    @keyframes fadeInRightAnimation {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInUp {
    animation: fadeInUpAnimation;
    animation-timeline: view();
    }

    @keyframes fadeInUpAnimation {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInUps {
    animation: fadeInUpsAnimation;
    animation-timeline: view();
    }

    @keyframes fadeInUpsAnimation {
        from {
            opacity: 0;
            transform: translateY(100px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


</style>


<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://lovosis.com/dahua",
    "url": "https://lovosis.com/dahua",
    "name": "dahua | Lovosis",
    "description": "Discover Lovosis, Dubai's authorized supplier of top-quality Surveillance & IT Solution. Learn about our commitment to excellence in the UAE construction industry.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://lovosis.com",
      "name": "Lovosis",
      "description": "Custom Fabrication & Surveillance Solution Provider In Dubai, United Arab Emirates."
    },
    "inLanguage": "en-US"
  }}
>



<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">

 
    <div class="grid lg:grid-cols-2 justify-items-center gap-5">
    <div class="flex flex-col justify-center">
        <img src="/pictures/Brand Profile/1.jpg" alt="billboard image" class="rounded-lg" />
    </div>

    <div class="order-1 lg:order-2 fadeInRight">
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-gray-200">Authorized Dahua Distributor</h2>
        <p class="text-md mt-4 dark:text-gray-300">Zhejiang Dahua Technology Co., Ltd. is a leading global video-centric AIoT solutions provider, focusing on smart cities and enterprises. In 2021, it reported a revenue of RMB 32.835 billion (USD 4.98 billion) with a 24.07% YOY increase. With over 22,000 employees, half in R&D, the company invests 10% of revenue in innovation. Dahua has deployed its solutions across 180 countries, covering industries like transportation, education, and banking. It holds over 6,400 patents and is the world’s second-largest video surveillance equipment supplier. Listed on the Shenzhen Stock Exchange since 2008, Dahua strives to enable safer societies and smarter living.</p>
        <div class="mt-8 grid w-full sm:inline-flex">
            <PrimaryCTA title="View Global Page" url=https://www.dahuasecurity.com/mena />
        </div>
    </div>
  </div>
 


  <div class="text-center mt-32 rounded-2xl mb-5">
    <h2 class="text-balance animate-fade-in-left text-2xl md:text-4xl md:leading-tight font-bold tracking-tight text-neutral-800 dark:text-neutral-100">
    Hikvision Surveillance Solutions
    </h2>
  </div>


  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:py-1">
    <div class="flex flex-wrap -mx-4 gap-3 md:gap-0">
        <div class="w-full px-2">
            <div>
                <div class="card__content grid grid-cols-1 md:grid-cols-2 gap-4 p-5 rounded-lg text-left relative">
                    <!-- Transportation -->
                    <div class="w-full h-64 fadeInUp">
                        <a href="https://www.dahuasecurity.com/mena/solutions/Solutions-by-Industry/Transportation">
                            <figure class="relative overflow-hidden rounded-lg group h-full">
                                <img src="/pictures/trans-dahua.jpg" alt="Image description" class="w-full h-full object-cover" />
                                <figcaption class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                  <h2 class="text-white text-4xl hover:underline">Transportation</h2>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <!-- Banking -->
                    <div class="w-full h-64 fadeInUp">
                        <a href="https://www.dahuasecurity.com/mena/solutions/Solutions-by-Industry/Banking--Finance">
                            <figure class="relative overflow-hidden rounded-lg group h-full">
                                <img src="/pictures/bank-dahua.png" alt="Image description" class="w-full h-full object-cover" />
                                <figcaption class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                  <h2 class="text-white text-4xl hover:underline">Banking</h2>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <!-- Building -->
                    <div class="w-full h-64 fadeInUp">
                        <a href="https://www.dahuasecurity.com/mena/solutions/Solutions-by-Industry/Building">
                            <figure class="relative overflow-hidden rounded-lg group h-full">
                                <img src="/pictures/building-dahua.jpg" alt="Image description" class="w-full h-full object-cover" />
                                <figcaption class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                  <h2 class="text-white text-4xl hover:underline">Building</h2>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <!-- Traffic -->
                    <div class="w-full h-64 fadeInUp">
                        <a href="https://www.dahuasecurity.com/mena/solutions/Solutions-by-Industry/Traffic">
                            <figure class="relative overflow-hidden rounded-lg group h-full">
                                <img src="/pictures/traffic-dahua.png" alt="Image description" class="w-full h-full object-cover" />
                                <figcaption class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                  <h2 class="text-white text-4xl hover:underline">Traffic</h2>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                  </div>
            </div>
        </div>
    </div>
</div>






  <div class="text-center mt-32 rounded-2xl mb-5 fadeInUps">
    <h2 class="text-balance animate-fade-in-left text-2xl md:text-4xl md:leading-tight font-bold tracking-tight text-neutral-800 dark:text-neutral-100">
    Dahua 2024 Products Line
    </h2>
    
  </div>

  <div class="mx-auto max-w-7xl px-4 mt-5 sm:px-6 lg:px-8 lg:py-1 fadeInUps">
    <div class="flex flex-wrap md:flex-col-2 items-center justify-center gap-y-2 gap-x-3 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-5">

        <a href="https://www.dahuasecurity.com/mena/products/All-Products/Network-Cameras/Wireless-Series/Indoor-Camera/Turret-Series/T2A-LED">
          <div class="product-card w-[250px] rounded-md shadow-xl overflow-hidden relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white dark:bg-white/[.075] flex flex-col items-center justify-center gap-3 transition-all duration-300 group">
              
              <div class="para uppercase text-center leading-none z-40">
                <p
                  style="-webkit-text-stroke: 1px rgb(207, 205, 205);
                            -webkit-text-fill-color: transparent;"
                  class="z-10 font-bold text-sm -mb-3 tracking-wider text-gray-600"
                >
                T2A-LED
                </p>
                <p class="font-bold text-sm tracking-wider text-[#1E7DB6] dark:text-white/[.075] z-30">
                    T2A-LED
                </p>
              </div>
              <div class="w-[180px] aspect-square relative z-20 after:absolute after:h-1 after:w-full after:opacity-0 after:bg-[#3D958E] after:top-8 after:left-0 after:group-hover:opacity-100 after:translate-x-1/2 after:translate-y-1/2 after:-z-20 after:group-hover:w-full after:transition-all after:duration-300 after:group-hover:origin-right after:group-hover:-translate-x-1/2 group-hover:translate-x-1/2 transition-all duration-300">
            
                
                <img src="/pictures/dahua1.png" alt="products1" class=" justify-center mt-5 items-center">
        
              
              </div>

              <div class="p-0 group-hover:-translate-y-5 transition-all duration-300">
                
                  <button class="relative group cursor-pointer text-sky-50  overflow-hidden h-10 w-28 rounded-md bg-white dark:bg-white/[.075] p-2 flex justify-center items-center text-xs font-semibold border border-teal-600 dark:text-white">

                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-blue-600"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-[#3D958E]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-white/[.075]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-sky-600"></div>
                    <p class="z-10">Shop Now</p>
                  </button>
                
              </div>
            </div> 
        </a>
        
        <a href="https://www.dahuasecurity.com/mena/products/All-Products/Network-Cameras/Wireless-Series/Outdoor-Camera/Bullet-Series/F2C-LED">
          <div class="product-card w-[250px] rounded-md shadow-xl overflow-hidden relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white dark:bg-white/[.075] flex flex-col items-center justify-center gap-3 transition-all duration-300 group">
              
              <div class="para uppercase text-center leading-none z-40">
                <p
                  style="-webkit-text-stroke: 1px rgb(207, 205, 205);
                            -webkit-text-fill-color: transparent;"
                  class="z-10 font-bold text-sm -mb-3 tracking-wider text-gray-600"
                >
                F2C-LED
                </p>
                <p class="font-bold text-sm tracking-wider text-[#1E7DB6] dark:text-white/[.075] z-30">
                    F2C-LED
                </p>
              </div>
              <div class="w-[180px] aspect-square relative z-20 after:absolute after:h-1 after:w-full after:opacity-0 after:bg-[#3D958E] after:top-8 after:left-0 after:group-hover:opacity-100 after:translate-x-1/2 after:translate-y-1/2 after:-z-20 after:group-hover:w-full after:transition-all after:duration-300 after:group-hover:origin-right after:group-hover:-translate-x-1/2 group-hover:translate-x-1/2 transition-all duration-300">
            
                
                <img src="/pictures/dahua2.png" alt="products1" class=" justify-center mt-5 items-center size-32 ml-6">
        
              
              </div>

              <div class="p-0 group-hover:-translate-y-5 transition-all duration-300">
                
                  <button class="relative group cursor-pointer text-sky-50  overflow-hidden h-10 w-28 rounded-md bg-white dark:bg-white/[.075] p-2 flex justify-center items-center text-xs font-semibold border border-teal-600 dark:text-white">

                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-blue-600"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-[#3D958E]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-white/[.075]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-sky-600"></div>
                    <p class="z-10">Shop Now</p>
                  </button>
                
              </div>
            </div> 
        </a>
        
        <a href="https://www.dahuasecurity.com/mena/products/All-Products/PTZ-Cameras/X-Spans-Series/SDT6C432-4P-GB-APV-0280">
          <div class="product-card w-[250px] rounded-md shadow-xl overflow-hidden relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white dark:bg-white/[.075] flex flex-col items-center justify-center gap-3 transition-all duration-300 group">
              
              <div class="para uppercase text-center leading-none z-40">
                <p
                  style="-webkit-text-stroke: 1px rgb(207, 205, 205);
                            -webkit-text-fill-color: transparent;"
                  class="z-10 font-bold text-sm -mb-3 tracking-wider text-gray-600"
                >
                SDT6C432-4P-GB-APV-0280
                </p>
                <p class="font-bold text-sm tracking-wider text-[#1E7DB6] dark:text-white/[.075] z-30">
                    SDT6C432-4P-GB-APV-0280
                </p>
              </div>
              <div class="w-[180px] aspect-square relative z-20 after:absolute after:h-1 after:w-full after:opacity-0 after:bg-[#3D958E] after:top-8 after:left-0 after:group-hover:opacity-100 after:translate-x-1/2 after:translate-y-1/2 after:-z-20 after:group-hover:w-full after:transition-all after:duration-300 after:group-hover:origin-right after:group-hover:-translate-x-1/2 group-hover:translate-x-1/2 transition-all duration-300">
            
                
                <img src="/pictures/dahua3.png" alt="products1" class=" justify-center mt-5 items-center size-32 ml-6">
        
             
              </div>

              <div class="p-0 group-hover:-translate-y-5 transition-all duration-300">
                
                  <button class="relative group cursor-pointer text-sky-50  overflow-hidden h-10 w-28 rounded-md bg-white dark:bg-white/[.075] p-2 flex justify-center items-center text-xs font-semibold border border-teal-600 dark:text-white">

                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-blue-600"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-[#3D958E]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-white/[.075]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-sky-600"></div>
                    <p class="z-10">Shop Now</p>
                  </button>
                
              </div>
            </div> 
        </a>

        <a href="https://www.dahuasecurity.com/mena/products/All-Products/Intelligent-EV-Charger/D-Volt-Pro/ICS-A220E-B2D-Z">
          <div class="product-card w-[250px] rounded-md shadow-xl overflow-hidden relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white dark:bg-white/[.075] flex flex-col items-center justify-center gap-3 transition-all duration-300 group">
              
              <div class="para uppercase text-center leading-none z-40">
                <p
                  style="-webkit-text-stroke: 1px rgb(207, 205, 205);
                            -webkit-text-fill-color: transparent;"
                  class="z-10 font-bold text-sm -mb-3 tracking-wider text-gray-600"
                >
                ICS-A220E-B2D-Z
                </p>
                <p class="font-bold text-sm tracking-wider text-[#1E7DB6] dark:text-white/[.075] z-30">
                    ICS-A220E-B2D-Z
                </p>
              </div>
              <div class="w-[180px] aspect-square relative z-20 after:absolute after:h-1 after:w-full after:opacity-0 after:bg-[#3D958E] after:top-8 after:left-0 after:group-hover:opacity-100 after:translate-x-1/2 after:translate-y-1/2 after:-z-20 after:group-hover:w-full after:transition-all after:duration-300 after:group-hover:origin-right after:group-hover:-translate-x-1/2 group-hover:translate-x-1/2 transition-all duration-300">
            
                
                <img src="/pictures/dahua4.png" alt="products1" class=" justify-center mt-5 items-center size-32 ml-6">
        
             
              </div>

              <div class="p-0 group-hover:-translate-y-5 transition-all duration-300">
                
                  <button class="relative group cursor-pointer text-sky-50  overflow-hidden h-10 w-28 rounded-md bg-white dark:bg-white/[.075] p-2 flex justify-center items-center text-xs font-semibold border border-teal-600 dark:text-white">

                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-blue-600"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-[#3D958E]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-white/[.075]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-sky-600"></div>
                    <p class="z-10">Shop Now</p>
                  </button>
                
              </div>
            </div> 
        </a>
        
        
          

      </div>

  </div>



</section>

</MainLayout>
