---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";


const pageTitle: string = `hikvision | ${SITE.title + " - " + "Custom Fabrication & Surveillance Solution Provider In Dubai, United Arab Emirates"}`;




// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  benefits?: Array<string>;
}

const abtitle: string = "hikvision";
const absubTitle: string ="Discover Lovosis, Dubai's authorized supplier of top-quality Surveillance & IT Solution."

---

<style>
  .autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view();
  }
  @keyframes autoRotateAnimation{
      from{
          transform: rotate(0deg);
      }
      to{
          transform: rotate(360deg);
      }
  }  

  .autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

    }

    @keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    }

    .fadeInRight {
    animation: fadeInRightAnimation;
    animation-timeline: view();
    }

    @keyframes fadeInRightAnimation {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInUp {
    animation: fadeInUpAnimation;
    animation-timeline: view();
    }

    @keyframes fadeInUpAnimation {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInUps {
    animation: fadeInUpsAnimation;
    animation-timeline: view();
    }

    @keyframes fadeInUpsAnimation {
        from {
            opacity: 0;
            transform: translateY(100px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

</style>


<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://lovosis.com/hikvision",
    "url": "https://lovosis.com/hikvision",
    "name": "Hikvision | Lovosis",
    "description": "Discover Lovosis, Dubai's authorized supplier of top-quality Surveillance & IT Solution. Learn about our commitment to excellence in the UAE construction industry.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://lovosis.com",
      "name": "Lovosis",
      "description": "Custom Fabrication & Surveillance Solution Provider In Dubai, United Arab Emirates."
    },
    "inLanguage": "en-US"
  }}
>



<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">

 
    <div class="grid lg:grid-cols-2 justify-items-center gap-5">
    <div class="flex flex-col justify-center">
        <img src="/pictures/Brand Profile/5.jpg" alt="billboard image" class="rounded-lg" />
    </div>

    <div class="order-1 lg:order-2 fadeInRight">
        <h2 class="text-3xl font-semibold text-gray-900 dark:text-gray-200">Authorized Hikvision Distributor</h2>
        <p class="text-md mt-4 dark:text-gray-300">Hikvision leverages machine perception, AI, and big data to lead the future of AIoT, helping people connect with the world through innovative technology. The company offers a wide range of physical security products, including video security, access control, and alarm systems, enhanced by AI-powered solutions for safety management. Hikvision also serves diverse markets like smart cities, transportation, retail, and education, while expanding into new areas such as robotics, smart homes, and medical imaging. With 80 subsidiaries worldwide and products in over 150 countries, Hikvision continues to innovate across industries, driving long-term development. Listed on the Shenzhen Stock Exchange since 2010, the company remains committed to intelligent solutions.</p>
        <div class="mt-8 grid w-full sm:inline-flex">
            <PrimaryCTA title="View Global Page" url=https://www.hikvision.com/en/ />
        </div>
    </div>
  </div>
 


  <div class="text-center mt-32 rounded-2xl mb-5">
    <h2 class="text-balance animate-fade-in-left text-2xl md:text-4xl md:leading-tight font-bold tracking-tight text-neutral-800 dark:text-neutral-100">
    Hikvision Surveillance Solutions
    </h2>
  </div>

  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:py-1 fadeInUp">
    <div class="flex flex-wrap -mx-4 gap-3 md:gap-0">
        <div class="w-full lg:w-3/5 px-2">
            <div class="bg-white dark:bg-neutral-600 rounded-lg shadow-xl p-6">
                <div class="card__content grid grid-cols-1 md:grid-cols-2 gap-1 p-5 rounded-lg text-left relative">
                    <div>
                      <h2 class="text-2xl font-light dark:text-neutral-200">Education</h2>
                        <p class="text-base font-light leading-normal dark:text-neutral-300">
                          Hikvision offers comprehensive solutions for educational institutes, including safe campus systems, smart classrooms, and efficient attendance management for K-12, higher education, and remote learning.
                        </p>
                    </div>
                    <figure class="overflow-hidden">
                      <img src="/pictures/edu.jpg" alt="Image description" class="w-full h-full object-contain" />
                    </figure>
                  </div>
            </div>
        </div>
        
        <div class="w-full lg:w-2/5 px-2 fadeInUp">
            <div class="bg-white dark:bg-neutral-600 rounded-lg shadow-xl p-6">
                <div class="card__content grid grid-cols-1 md:grid-cols-2 gap-1 p-5 rounded-lg text-left relative">
                    <div>
                        <h2 class="text-2xl font-light dark:text-neutral-200">Energy</h2>
                          <p class="text-base font-light leading-normal dark:text-neutral-300">
                            The energy transition accelerates, driving businesses to adopt technologies enhancing safety, productivity, and sustainability.
                          </p>
                    </div>
                    <figure class="overflow-hidden">
                      <img src="/pictures/eng.jpg" alt="Image description" class="w-full h-full object-contain" />
                    </figure>
                  </div>
            </div>
        </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-4 mt-3 sm:px-6 lg:px-8 lg:py-1 fadeInUp">
    <div class="flex flex-wrap -mx-4 gap-3 md:gap-0">
        <div class="w-full lg:w-2/5 px-2">
            <div class="bg-white dark:bg-neutral-600 rounded-lg shadow-xl p-6">
                <div class="card__content grid grid-cols-1 md:grid-cols-2 gap-1 p-5 rounded-lg text-left relative">
                    <div>
                      <h2 class="text-2xl font-light dark:text-neutral-200">Healthcare</h2>
                        <p class="text-base font-light leading-normal dark:text-neutral-300">
                          Hikvision's healthcare solutions enhance safety and efficiency, prioritizing tailored systems for healthcare facilities.
                        </p>
                    </div>
                    <figure class="overflow-hidden">
                      <img src="/pictures/Health.jpg" alt="Image description" class="w-full h-full object-contain" />
                    </figure>
                  </div>
            </div>
        </div>
        
        <div class="w-full lg:w-3/5 px-2 fadeInUp">
            <div class="bg-white dark:bg-neutral-600 rounded-lg shadow-xl p-6">
                <div class="card__content grid grid-cols-1 md:grid-cols-2 gap-1 p-5 rounded-lg text-left relative">
                    <div>
                        <h2 class="text-2xl font-light dark:text-neutral-200">Retail</h2>
                          <p class="text-base font-light leading-normal dark:text-neutral-300">
                            Retailers must balance security, enhanced customer experience, & multi-location management as traditional practices fall short of complex demands.
                          </p>
                    </div>
                    <figure class="overflow-hidden">
                      <img src="/pictures/ret.png" alt="Image description" class="w-full h-full object-contain" />
                    </figure>
                  </div>
            </div>
        </div>
    </div>
  </div>





  <div class="text-center mt-32 rounded-2xl mb-5 fadeInUps">
    <h2 class="text-balance animate-fade-in-left text-2xl md:text-4xl md:leading-tight font-bold tracking-tight text-neutral-800 dark:text-neutral-100">
    Hikvision 2024 Products Line
    </h2>
    
  </div>

  <div class="mx-auto max-w-7xl px-4 mt-5 sm:px-6 lg:px-8 lg:py-1 fadeInUps">
    <div class="flex flex-wrap md:flex-col-2 items-center justify-center gap-y-2 gap-x-3 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-5">

        <a href="https://www.hikvision.com/en/products/IP-Products/PTZ-Cameras/Pro-Series/ds-2de7a432iw-aeb-t5-/">
          <div class="product-card w-[250px] rounded-md shadow-xl overflow-hidden relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white dark:bg-white/[.075] flex flex-col items-center justify-center gap-3 transition-all duration-300 group">
              
              <div class="para uppercase text-center leading-none z-40">
                <p
                  style="-webkit-text-stroke: 1px rgb(207, 205, 205);
                            -webkit-text-fill-color: transparent;"
                  class="z-10 font-bold text-sm -mb-3 tracking-wider text-gray-600"
                >
                  DS-2DE7A432IW-AEB(T5)
                </p>
                <p class="font-bold text-sm tracking-wider text-[#1E7DB6] dark:text-white/[.075] z-30">
                  DS-2DE7A432IW-AEB(T5)
                </p>
              </div>
              <div class="w-[180px] aspect-square relative z-20 after:absolute after:h-1 after:w-full after:opacity-0 after:bg-[#3D958E] after:top-8 after:left-0 after:group-hover:opacity-100 after:translate-x-1/2 after:translate-y-1/2 after:-z-20 after:group-hover:w-full after:transition-all after:duration-300 after:group-hover:origin-right after:group-hover:-translate-x-1/2 group-hover:translate-x-1/2 transition-all duration-300">
            
                
                <img src="/pictures/pro1.png" alt="products1" class=" justify-center mt-5 items-center">
        
              
              </div>

              <div class="p-0 group-hover:-translate-y-5 transition-all duration-300">
                
                  <button class="relative group cursor-pointer text-sky-50  overflow-hidden h-10 w-28 rounded-md bg-white dark:bg-white/[.075] p-2 flex justify-center items-center text-xs font-semibold border border-teal-600 dark:text-white">

                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-blue-600"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-[#3D958E]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-white/[.075]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-sky-600"></div>
                    <p class="z-10">Shop Now</p>
                  </button>
                
              </div>
            </div> 
        </a>
        
        <a href="https://www.hikvision.com/en/products/IP-Products/Network-Cameras/solar-powered-security-camera-setup/ds-2xs6a87g1-l-c32s80-no-battery-/">
          <div class="product-card w-[250px] rounded-md shadow-xl overflow-hidden relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white dark:bg-white/[.075] flex flex-col items-center justify-center gap-3 transition-all duration-300 group">
              
              <div class="para uppercase text-center leading-none z-40">
                <p
                  style="-webkit-text-stroke: 1px rgb(207, 205, 205);
                            -webkit-text-fill-color: transparent;"
                  class="z-10 font-bold text-sm -mb-3 tracking-wider text-gray-600"
                >
                  DS-2XS6A87G1-L/C32S80
                </p>
                <p class="font-bold text-sm tracking-wider text-[#1E7DB6] dark:text-white/[.075] z-30">
                  DS-2XS6A87G1-L/C32S80
                </p>
              </div>
              <div class="w-[180px] aspect-square relative z-20 after:absolute after:h-1 after:w-full after:opacity-0 after:bg-[#3D958E] after:top-8 after:left-0 after:group-hover:opacity-100 after:translate-x-1/2 after:translate-y-1/2 after:-z-20 after:group-hover:w-full after:transition-all after:duration-300 after:group-hover:origin-right after:group-hover:-translate-x-1/2 group-hover:translate-x-1/2 transition-all duration-300">
            
                
                <img src="/pictures/pro2.png" alt="products1" class=" justify-center mt-5 items-center size-32 ml-6">
        
              
              </div>

              <div class="p-0 group-hover:-translate-y-5 transition-all duration-300">
                
                  <button class="relative group cursor-pointer text-sky-50  overflow-hidden h-10 w-28 rounded-md bg-white dark:bg-white/[.075] p-2 flex justify-center items-center text-xs font-semibold border border-teal-600 dark:text-white">

                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-blue-600"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-[#3D958E]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-white/[.075]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-sky-600"></div>
                    <p class="z-10">Shop Now</p>
                  </button>
                
              </div>
            </div> 
        </a>
        
        <a href="https://www.hikvision.com/en/products/Turbo-HD-Products/Turbo-HD-Cameras/Value-Series/ds-2ce76d0t-lmfs/">
          <div class="product-card w-[250px] rounded-md shadow-xl overflow-hidden relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white dark:bg-white/[.075] flex flex-col items-center justify-center gap-3 transition-all duration-300 group">
              
              <div class="para uppercase text-center leading-none z-40">
                <p
                  style="-webkit-text-stroke: 1px rgb(207, 205, 205);
                            -webkit-text-fill-color: transparent;"
                  class="z-10 font-bold text-sm -mb-3 tracking-wider text-gray-600"
                >
                DS-2CE76D0T-LMFS
                </p>
                <p class="font-bold text-sm tracking-wider text-[#1E7DB6] dark:text-white/[.075] z-30">
                  DS-2CE76D0T-LMFS
                </p>
              </div>
              <div class="w-[180px] aspect-square relative z-20 after:absolute after:h-1 after:w-full after:opacity-0 after:bg-[#3D958E] after:top-8 after:left-0 after:group-hover:opacity-100 after:translate-x-1/2 after:translate-y-1/2 after:-z-20 after:group-hover:w-full after:transition-all after:duration-300 after:group-hover:origin-right after:group-hover:-translate-x-1/2 group-hover:translate-x-1/2 transition-all duration-300">
            
                
                <img src="/pictures/pro3.png" alt="products1" class=" justify-center mt-5 items-center size-32 ml-6">
        
             
              </div>

              <div class="p-0 group-hover:-translate-y-5 transition-all duration-300">
                
                  <button class="relative group cursor-pointer text-sky-50  overflow-hidden h-10 w-28 rounded-md bg-white dark:bg-white/[.075] p-2 flex justify-center items-center text-xs font-semibold border border-teal-600 dark:text-white">

                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-blue-600"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-[#3D958E]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-white/[.075]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-sky-600"></div>
                    <p class="z-10">Shop Now</p>
                  </button>
                
              </div>
            </div> 
        </a>

        <a href="https://www.hikvision.com/en/products/Turbo-HD-Products/DVR/edvr-series/ds-e04hghi-b/">
          <div class="product-card w-[250px] rounded-md shadow-xl overflow-hidden relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white dark:bg-white/[.075] flex flex-col items-center justify-center gap-3 transition-all duration-300 group">
              
              <div class="para uppercase text-center leading-none z-40">
                <p
                  style="-webkit-text-stroke: 1px rgb(207, 205, 205);
                            -webkit-text-fill-color: transparent;"
                  class="z-10 font-bold text-sm -mb-3 tracking-wider text-gray-600"
                >
                  DS-E04HGHI-B
                </p>
                <p class="font-bold text-sm tracking-wider text-[#1E7DB6] dark:text-white/[.075] z-30">
                  DS-E04HGHI-B
                </p>
              </div>
              <div class="w-[180px] aspect-square relative z-20 after:absolute after:h-1 after:w-full after:opacity-0 after:bg-[#3D958E] after:top-8 after:left-0 after:group-hover:opacity-100 after:translate-x-1/2 after:translate-y-1/2 after:-z-20 after:group-hover:w-full after:transition-all after:duration-300 after:group-hover:origin-right after:group-hover:-translate-x-1/2 group-hover:translate-x-1/2 transition-all duration-300">
            
                
                <img src="/pictures/pro4.png" alt="products1" class=" justify-center mt-5 items-center size-32 ml-6">
        
             
              </div>

              <div class="p-0 group-hover:-translate-y-5 transition-all duration-300">
                
                  <button class="relative group cursor-pointer text-sky-50  overflow-hidden h-10 w-28 rounded-md bg-white dark:bg-white/[.075] p-2 flex justify-center items-center text-xs font-semibold border border-teal-600 dark:text-white">

                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-blue-600"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-[#3D958E]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-white/[.075]"></div>
                    <div class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-sky-600"></div>
                    <p class="z-10">Shop Now</p>
                  </button>
                
              </div>
            </div> 
        </a>
        
        
          

      </div>

  </div>



</section>

</MainLayout>
